@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate-blue: #5b616e;
  --line: #eceff1;
  --light-gray: #e9ebee;
  --midnight-steel: #0a0b0d;
  --primary: #002d72;
  --secondary-accent: #009688;
  --dark-blue: #001f4e;
  --light-blue: #4d79ff;
  --dark-gray: #333;
  --danger: #ff4d4d;
}
